.background {
  height: 712px;

  background-image: url('/background-section-banner.png');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: auto 630px;

  @media(max-width: 768px) {
    height: 550px;

    background-size: 760px;
    background-position: left;
  }

  @media(max-width: 650px) {
    height: 700px;
    background-size: 650px;
    background-position: right bottom;
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  h1, p {
    width: 100%;
    max-width: 562px;
  }

  h1 {
    font-size: 5rem;
    line-height: 5.25rem;
  }

  p {
    font-size: 1.375rem;
    line-height: 2.5rem;
    color: var(--secondary);
    letter-spacing: -0.66px;

    margin: 24px 0 50px;
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 6px;

    width: 204px;
    height: 58px;
    border: 0;
    border-radius: 4px;
    background: var(--link);

    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 800;

    transition: filter 0.2s;

    &:hover {
      filter: brightness(0.9);
    }
  }

  @media(max-width: 768px) {
    h1 {
      font-size: 3rem;
      line-height: 3.25rem;
      max-width: 430px;
    }
  
    p {
      font-size: 1.25rem;
      line-height: 1.75rem;
      max-width: 400px;
  
      margin: 18px 0 40px;
    }
  
    button {
      height: 50px;
      font-size: 1.125rem;
    }
  }

  @media(max-width: 650px) {
    justify-content: flex-start;
    padding-top: 54px;

    h1 {
      font-size: 2.625rem;
      line-height: 4rem;
      max-width: 100%;
    }
  
    p {
      font-size: 1rem;
      line-height: 1.5rem;
      max-width: 100%;
    }
  
    button {
      width: 166px;
      height: 44px;
      font-size: 1rem;
    }
  }
}