.background {
  background: var(--black);
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-image: url('/background-icons/add-2.png'), url('/background-icons/circles-2.png');
  background-size: 40px, 48px;
  background-repeat: no-repeat;
  background-position: right 80px, 60px 420px;

  width: 100%;
  height: 560px;

  h1 {
    font-size: 3.75rem;
    line-height: 4.125rem;

    width: 100%;
    max-width: 826px;

    @media(max-width: 1080px) {
      font-size: 3rem;
      line-height: 3.25rem;
      max-width: 660px;
    }
  }

  button {
    width: 200px;
    height: 60px;

    border: 0;
    border-radius: 4px;
    background: var(--link);

    font-size: 1.25rem;
    font-weight: 700;
    text-align: center;

    transition: filter 0.4s;

    &:hover {
      filter: brightness(0.9);
    }
  }

  @media(max-width: 768px) {
    background-position: right 50px, 60px 420px;

    height: 400px;

    flex-direction: column;
    justify-content: center;
    row-gap: 32px;

    h1 {
      font-size: 3rem;
      line-height: 3.75rem;
      text-align: center;
  
      max-width: 600px;
    }
  
    button {
      height: 48px;
    }
  }

  @media(max-width: 650px) {
    background-size: 32px, 32px;
    background-position: right 12px, 0px 360px;

    height: 416px;
    row-gap: 50px;
    align-items: flex-start;

    h1 {
      font-size: 2.25rem;
      line-height: 3.375rem;
      text-align: left;
  
      max-width: 100%;
    }
  
    button {
      width: 166px;
      height: 44px;
  
      font-size: 1rem;
    }
  }
}